<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!Slick for carousel}}
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
    {{!Slick styling}}
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kameron&display=swap" rel="stylesheet">
    <title>The Cold West</title>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
</head>

<body>
    {{!-- Drop down for resorts --}}
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/resort/1">Mt. Baker Ski</a></li>
        <li><a href="/resort/2">The Summit at Snoqualmie</a></li>
        <li><a href="/resort/3">Crystal Mountain Resort</a></li>
        <li><a href="/resort/4">Stevens Pass Resort</a></li>
        <li><a href="/resort/5">49 Degrees North Mountain Ski & Snowboard Resort</a></li>
        <li><a href="/resort/6">White Pass Ski Area</a></li>
        <li><a href="/resort/7">Mission Ridge Ski & Board Resort</a></li>
        <li><a href="/resort/8">Mt. Spokane Ski & Snowboard</a></li>
        <li><a href="/resort/9">Alpental Ski Resort</a></li>
        <li><a href="/resort/10">Ski Bluewood</a></li>
    </ul>

    {{!-- Drop down for activities --}}
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="/activity/1">Skiing</a></li>
        <li><a href="/activity/2">Cross-Country Skiing</a></li>
        <li><a href="/activity/3">Snowboarding</a></li>
        <li><a href="/activity/4">Snowshoeing</a></li>
        <li><a href="/activity/5">Tubing</a></li>


    </ul>

    {{!-- Navbar --}}
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">CW</a>
            <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons"
                    id="menu-icon">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">home</a></li>
                <li><a class="dropdown-trigger" href="/resort" data-target="dropdown1">play<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="/activity" data-target="dropdown2">activity<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/aboutus">about</a></li>
                {{!-- Unless user is signed in, the sign in tab will always show up --}}
                {{#unless user}}
                <li><a href="/signin">rate</a></li>
                {{/unless}}

                {{!-- If user is signed in, the account and sing out tab will show up --}}
                {{#if user}}
                <li><a href="/account">account</a></li>
                <li><a href="/user/logout">sign out</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>

    {{!-- Slide out navbar when on mobile screen --}}
    <ul id="slide-out" class="sidenav navText full" style="width: auto !important">
        <li><a class="waves-effect collapsible-header sidenavTab" href="/">home</a></li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <div class="waves-effect collapsible-header">play</div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/resort/1">Mt. Baker Ski</a></li>
                            <li><a href="/resort/2">The Summit at Snoqualmie</a></li>
                            <li><a href="/resort/3">Crystal Mountain Resort</a></li>
                            <li><a href="/resort/4">Stevens Pass Resort</a></li>
                            <li><a href="/resort/5">49 Degrees North Mountain Ski & Snowboard Resort</a></li>
                            <li><a href="/resort/6">White Pass Ski Area</a></li>
                            <li><a href="/resort/7">Mission Ridge Ski & Board Resort</a></li>
                            <li><a href="/resort/8">Mt. Spokane Ski & Snowboard</a></li>
                            <li><a href="/resort/9">Alpental Ski Resort</a></li>
                            <li><a href="/resort/10">Ski Bluewood</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <div class="waves-effect collapsible-header">activity<i class="mdi-navigation-arrow-drop-down"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/activity/1">Skiing</a></li>
                        <li><a href="/activity/2">Cross-Country Skiing</a></li>
                        <li><a href="/activity/3">Snowboarding</a></li>
                        <li><a href="/activity/4">Snowshoeing</a></li>
                        <li><a href="/activity/5">Tubing</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        </li>
        <li><a class="waves-effect collapsible-header" href="/aboutus">about</a></li>
        {{#unless user}}
        <li><a class="waves-effect collapsible-header" href="/signin">sign in</a></li>
        {{/unless}}
        {{#if user}}
        <li><a class="waves-effect collapsible-header" href="/account">account</a></li>
        <li><a class="waves-effect collapsible-header" href="/user/logout">sign out</a></li>
        {{/if}}
    </ul>

    {{{ body }}}

    <script src="https://code.jquery.com/jquery.js"></script>
    {{!Slick for carousel}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>