<div class="about-background">

        <div class="row">
            <div class="col s12 m6 l2">
                <div class="card-panel red darken-2">
                    <span class="white-text"><a class="our-names">Zhouyi <br> Wang
                            <a />
                            <p class="about-text">A lavender field loving cutting edge artistic designer and devoloper
                                ripe with creativity.</p>
                    </span>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="card-panel deep-purple darken-3">
                    <span class="white-text"><a class="our-names">Kayla <br> Newlon
                            <a />
                            <p class="about-text">A cultural anthropologist turned coding master in training. Join me
                                this winter season in the warm resort lodge enjoying bailey's and coffee watching the
                                pros hit the hills!</p>
                    </span>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="card-panel blue accent-4">
                    <span class="white-text"><a class="our-names">Devin <br> Gillogly
                            <a />
                            <p class="about-text">A kick ass avatar who can code like a champ, and fixer of things
                                needing fixing who doesn't care much for cake.</p>
                    </span>
                </div>
            </div>

            <div class="col s12 m6 l2">
                <div class="card-panel green">
                    <span class="white-text"><a class="our-names">Chris <br> MacGeorge
                            <a />
                            <p class="about-text">Extreme management and deloping skills who likes beer mug emojis.</p>
                    </span>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="card-panel lime darken-2">
                    <span class="white-text"><a class="our-names">Scott <br> Dancer
                            <a />
                            <p class="about-text">An artistic, fun, fantasticly annoying yet friendly struggle bus
                                passenger.</p>
                    </span>
                </div>
            </div>
        </div>

</div>
<link rel="stylesheet" href="/assets/css/aboutstyle.css" />