<div class="about-background">

<ul>
  


  <div class="row">
    <div class="col s2">
      <div class="card-panel blue lighten-3">
        <span class="white-text"><a class="our-names">Zhouyi Wang
        <a />
        <p class="about-text">A lavender loving fun artistic designer living in the Seatlle area.</p>
        </span>
      </div>
    </div>
  {{!-- </div>
  <div class="row"> --}}
    <div class="col s2">
      <div class="card-panel blue lighten-3">
        <span class="white-text"><a class="our-names">Kayla Newlon
        <a />
        <p class="about-text">Awesome Git Master and Explainer of things to people.</p>
        </span>
      </div>
    </div>
  {{!-- </div>
  <div class="row"> --}}
    <div class="col s2">
      <div class="card-panel blue lighten-3">
        <span class="white-text"><a class="our-names">Devin Gillogly
        <a />
       
        <p class="about-text">A kick ass avitar who can code like a champ!</p>
        </span>
      </div>
    </div>
  {{!-- </div>
  <div class="row"> --}}
    <div class="col s2">
      <div class="card-panel blue lighten-3">
        <span class="white-text"><a class="our-names">Chris MacGeorge
        <a />
        <p class="about-text">Extreme management and deloping skills who likes beer mug emojis.</p>
        </span>
      </div>
    </div>
  {{!-- </div>


  <div class="row"> --}}
    <div class="col s2">
      <div class="card-panel blue lighten-3">
        <span class="white-text"><a class="our-names">Scott Dancer
        <a />
        <p class="about-text">Fun artistic visions and a fantasticly annoying yet friendly passenger on the struggle bus.</p>
        </span>
      </div>
    </div>
  </div>

  </ul>




</div>

<link rel="stylesheet" href="/assets/css/aboutstyle.css" />