
<div class="coverImg">
<div class="container">


{{!-- <style>
    background-image: url("https://res.cloudinary.com/dpnjzg0ar/image/upload/v1603303328/TD1uDeJc_xp3ogk.jpg");
</style> --}}


{{!-- <div class="coverImg"> --}}
  <br><br>
    <div class="card transparent z-depth-0" id = "coverCard">
        <h1 id="indexTitle">The Cold West</h1>
         <h3 id="tagLine">Your Winter Adventure Awaits</h3>
    </div>

   
    
{{!-- </div> --}}
<div class="card transparent z-depth-0" id = "bottomCard">
      <p>Find your perfect outdoor activity for every mood, style, and condition</p>  
    </div>                  
</div>

</div>                 


<div class = "overlayBackground">


<div class = "container">



<div class = "overlayBackgound">
  <div class = "row">
    <div class = "col s2">
      <h2 class = "overlayText">activity<h2/>
      <h4 class = "overlaySmText">Select Activity</h4>
    </div>

    <div class = "col s2 button button:hover button:active">
      <h2 class = "overlayText">play<h2/>
      <h4 class = "overlaySmText">Chose Resort</h4>
    </div>

    <div class = "col s2">
      <h2 class = "overlayText">rest<h2/>
      <h4 class = "overlaySmText">Relax & Replenish</h4>
    </div>

    <div class = "col s2">
      <h2 class = "overlayText">rate<h2/>
      <h4 class = "overlaySmText">Give Feedback</h4>
    </div>

    <div class = "col s2">
      <h2 class = "overlayText">about<h2/>
      <h4 class = "overlaySmText">Meet Your Guides</h4>
    </div>
    
  </div>
</div>

</div>

</div>
   <!-- Dropdown Trigger -->
  {{!-- <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul> --}}

   <link rel="stylesheet" href="/assets/css/styles.css"/>