<div class="coverImg">
    <div class="card transparent z-depth-5">
        <h1 id="indexTitle">The Cold West</h1>
    </div>

    <h3>Your Winter Adventure Awaits</h3>
    <p>Find Your perfect winter adventure for every mood, style, and skill level</p>
</div>