<template name="backgroundImage">
  <style>
  body {
  background-image:url({{background}});
  background-repeat: no-repeat;
  background-position: right top;
  }
  </style>

<div class="coverImg">
<div class="container">


{{!-- <style>
    background-image: url("https://res.cloudinary.com/dpnjzg0ar/image/upload/v1603303328/TD1uDeJc_xp3ogk.jpg");
</style> --}}


{{!-- <div class="coverImg"> --}}
    <div class="card transparent z-depth-5" id = "coverCard">
        <h1 id="indexTitle">The Cold West</h1>
    </div>

    <h3>Your Winter Adventure Awaits</h3>
    <p>Find Your perfect winter adventure for every mood, style, and skill level</p>
{{!-- </div> --}}

</div>

</div>