
<div class="coverImg">
<div class="container">


{{!-- <style>
    background-image: url("https://res.cloudinary.com/dpnjzg0ar/image/upload/v1603303328/TD1uDeJc_xp3ogk.jpg");
</style> --}}


{{!-- <div class="coverImg"> --}}
    <div class="card transparent z-depth-0" id = "coverCard">
        <h1 id="indexTitle">The Cold West</h1>
         <h3 id="tagLine">Your Winter Adventure Awaits</h3>
    </div>

   
    
{{!-- </div> --}}
<div class="card transparent z-depth-0" id = "bottomCard">
      <p>Find your perfect outdoor activity for every mood, style, and condition</p>  
    </div>                  
</div>

</div>                 