<img src="https://via.placeholder.com/1000" alt="placeholder">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum modi dolores exercitationem eum, necessitatibus cumque ullam voluptatibus molestias, asperiores sint praesentium corporis. Non eos voluptatum excepturi atque labore quis corporis.</p>