<div class="coverImg">
  <div class="container">


    {{!-- <style>
    background-image: url("https://res.cloudinary.com/dpnjzg0ar/image/upload/v1603303328/TD1uDeJc_xp3ogk.jpg");
</style> --}}


    {{!-- <div class="coverImg"> --}}
    <div class="row">
      <div class="card transparent z-depth-0" id="coverCard">
        <h1 id="indexTitle">The Cold West</h1>
        <h3 id="tagLine">Your Winter Adventure Awaits</h3>
      </div>
    </div>


    {{!-- </div> --}}
    <div class="row">
      <div class="card transparent z-depth-0" id="bottomCard">
        <p>Find your perfect outdoor activity for every mood, style, and condition</p>
      </div>
    </div>
  </div>
</div>


<div class="overlayBackground">


  <div class="container">
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/activity/1">Skiing</a></li>
      <li><a href="/activity/2">Cross-Country Skiing</a></li>
      <li><a href="/activity/3">Snow-Boarding</a></li>
      <li><a href="/activity/4">Snow Shoeing</a></li>
      <li><a href="/activity/5">Tubing</a></li>
    </ul>



    <div class="row overlayBackgound overlay-row">

      <ul>
        <div class="col s2 button button:hover button:active">

          <li><a class="overlayText">activity
              <a /></li>
          <li><a class="dropdown-trigger" href="/activity" data-target="dropdown2"><i
                class="material-icons left">expand_more</i></a></li>
          <h4 class="overlaySmText">Select Activity</h4>

        </div>

        <div class="col s2 button button:hover button:active">
          <li><a class="overlayText">play
              <a /></li>
          <h4 class="overlaySmText">Chose Resort</h4>
        </div>

        <div class="col s2 button button:hover button:active">
          <a class="overlayText">rest
            <a />
            <h4 class="overlaySmText">Relax & Replenish</h4>
        </div>

        <div class="col s2 button button:hover button:active">
          <a class="overlayText">rate
            <a />
            <h4 class="overlaySmText">Give Feedback</h4>
        </div>

        <div class="col s2 button button:hover button:active">
          <a class="overlayText">about
            <a />
            <h4 class="overlaySmText">Meet Your Guides</h4>

        </div>
      </ul>
    </div>

  </div>

</div>

<link rel="stylesheet" href="/assets/css/styles.css" />