
<div class = "overlayBackground">


<div class = "container">



<div class = "overlayBackgound">
  <div class = "row">
    <div class = "col s2">activity
      <h2 class = "overlayText">activity<h2/>
      <h4 class = "overlaySmText">Select Your Activity</h4>
    </div>

    <div class = "col s2">play
      <h2 class = "overlayText">play<h2/>
      <h4>Chose Your Playground</h4>
    </div>

    <div class = "col s2">rest
      <h2 class = "overlayText">rest<h2/>
      <h4>Relax and Replenish</h4>
    </div>

    <div class = "col s2">rate
      <h2 class = "overlayText">rate<h2/>
      <h4>Login & Give Feedback</h4>
    </div>

    <div class = "col s2">about
      <h2 class = "overlayText">about<h2/>
      <h4>Meet Your Winter Guides</h4>
    </div>
    
  </div>
</div>

</div>

</div>