
{{!-- <div class = "overlayBackground">


{{!-- <div class = "container"> --}}



  <div class = "overlay-row">
    <div class = "row">
      <div class = "col s2">activity
        <h2 class = "overlayText">activity<h2/>
        <h4 class = "overlaySmText">Select Your Activity</h4>
      </div>

      <div class = "col s2">play
        <h2 class = "overlayText">play<h2/>
        <h4 class = "overlaySmText">Chose Your Playground</h4>
      </div>

      <div class = "col s2">rest
        <h2 class = "overlayText">rest<h2/>
        <h4 class = "overlaySmText">Relax and Replenish</h4>
      </div>

      <div class = "col s2">rate
        <h2 class = "overlayText">rate<h2/>
        <h4 class = "overlaySmText">Login & Give Feedback</h4>
      </div>

      <div class = "col s2">about
        <h2 class = "overlayText">about<h2/>
        <h4 class = "overlaySmText">Meet Your Winter Guides</h4>
      </div>
      
    </div>
  </div>

 {{!-- </div> --}}

</div>

<link rel="stylesheet" href="/assets/css/styles.css"/> --}}