<div class = "overlayBackgound">
  <div class = "row">
    <div class = "col s2">activity</div>
    <div class = "col s2">play</div>
    <div class = "col s2">rest</div>
    <div class = "col s2">rate</div>
    <div class = "col s2">about</div>
  </div>
</div>