@font-face{
    font-family: Rockwell;
    src: url(Rockwell-Font/rockb.ttf)
}

body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    color: #848484;
}

html, body {
    height: 100vh;
    width: 100vw;
}

/* Section class from Materialize */
.section {
    margin-bottom: 0;
}

/* Images in resort and activity page */
.responsive-img { 
    width: 100vw;
    margin-top: 2vmax;
}

.carousel {
    width: 100%;
    height: 50vh;
}

/* Map in resort page */
#map-id { 
    height: 30vh;
    width: 100%;
    margin: 1.5vh 0;
}

/* Resort and activity page title */
.page-title {
    font-family: 'Anton', sans-serif;
    font-size: 6vmin;
    color: #36507A;
}

/* Resort and activity sub title */
.sub-title {
    font-size: 4.5vmin;
    color: #5C90C0;
}

/* Normal text */
.text {
    font-size: 2.5vmin;
}

/* Check icon */
.chevron-icon {
    font-size: 2.5vmin;
    margin: 0 0.8vw;
}

/* Resort and activity list */
.list {
    color: #848484;
}

.list:hover {
    color: #36507A;
}

/* Sign in and sign up form */
.card {
    height: 55vh;
    margin-top: 2vmax;
    /* z-index: 1; */
}

.signin-title {
    font-size: 2vmax;
}

.row .input-field input[type=text], .row .input-field input[type=password], .row .input-field button[type=submit] {
    margin-top: 2vmax;
    height: 5vh;
    width: 96%;
    padding-left: 1vmax;
    font-family: 'Roboto Slab', serif;
    font-size: 1vmax;
}

.row .input-field input[type=password] {
    margin-top: 0;
}

.row .input-field input[type=text], .row .input-field input[type=password]:focus {
    border-bottom: 1px solid #36507A;
    box-shadow: 0 1px 0 0 #36507A;
}

.row .input-field button[type=submit] {
    margin-top: 0;
    width: 99%;
    background-color: #36507A;
}

.row .input-field .margin {
    font-size: 1vmax;
}

.row .input-field .margin a {
    color: #36507A;
    font-weight: 700;
}

.row .input-field .margin a:hover{
    color: #848484;
}

/* Account page */
.account-title {
    font-size: 1.8vmax;
}

.account-text {
    font-size: 1vmax;
}

.account-card {
    height: 30vh;
}

.bottom-btn {
    background-color: #36507A;
    position: absolute;
    bottom: 20px !important;
}

#indexTitle {
    color: #D4DFEA;
    font-family: 'Kameron', serif;
    font-size:138px;
    margin: none;
    text-align: center;
    font-weight: 900;
    text-shadow: -4px -4px #36507A;
}

/*  #36507A*/
.nav-wrapper { 
    font-family: 'Kameron', serif;
    font-weight: bold;
    background-color: #D4DFEA;
}

nav ul li a{
    color: #36507A;
}

nav .brand-logo{
    color: #36507A;
}

.overlayBackground {
    background-color: #36507A;
}

.coverImg{ 
    background: url("https://res.cloudinary.com/dpnjzg0ar/image/upload/v1603303328/TD1uDeJc_xp3ogk.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: none;

}

#coverCard{
    margin-top: -2.8rem;
    padding-top: none;
}

.overlayBackground {
    background-color: #36507A;
}
/* Commented */
/* .resortBackground {
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: none;
    background-color:#D4DFEA;
} */

.overlayText {
    color:#D4DFEA;
    font-family: 'Kameron', serif;
    font-size: 75px;

}

.overlaySmText {
    color: #BFCFDF;
    font-family: 'Kameron', serif;
    font-size: 35px;
} 

#tagLine{
    color: #36507A;
    font-family: 'Kameron', serif;
    font-size: 63px;
    margin: none;
    text-align: center;
    margin-top: -2.8rem;
    font-weight: 525;
    text-shadow: 2px 2px #D4DFEA;
}


#bottomCard{
    position: absolute; 
    bottom: 0; 
    left: 0; width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: #051631;
    text-shadow: -1px -1px #D4DFEA;
    /* margin-bottom: -2.8rem */
    font-weight: bold;
} 

.user-error{
    color: red;
}

.overlayText{
    font-size: 50px;
    margin-top: 15rem;
    /* height: 100vh; */
    width: 100vw;
    /* margin-left: -10rem;
    margin-right: 10rem; */
}

.overlaySmText{
    font-size: 18px;
    margin-bottom: 25rem;
    /* height: 100vh; */
    width: 100vw;
}


.button {
    border-top: 1px solid #36507a;
    background: #36507a;
    background: -webkit-gradient(linear, left top, left bottom, from(#36507a), to(#36507a));
    background: -webkit-linear-gradient(top, #36507a, #36507a);
    background: -moz-linear-gradient(top, #36507a, #36507a);
    background: -ms-linear-gradient(top, #36507a, #36507a);
    background: -o-linear-gradient(top, #36507a, #36507a);
    padding: 20px 40px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 3px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 3px 0;
    box-shadow: rgba(0,0,0,1) 0 0px 0;
    text-shadow: rgba(0,0,0,.4) 0 3px 0;
    color: #d4dfea;
    font-size: 16px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 0;
    cursor: pointer;
}

.button:hover {
    border-top-color: #3b79b6;
    background: #3b79b6;
    color: #36507a;
}

.button:active {
    border-top-color: #a4d5ed;
    background: #a4d5ed;
}

/* .activityBackground {
    margin-top: 40px;
} */

