#mapId { 
    height: 180px; 
}

body {
    background-color: white;
}

#indexTitle {
    color: #36507A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:138px;
    margin: none;
}

.nav-wrapper { 
    background-color :#36507A ;
}

.overlayBackground {
    background-color: #36507A  ;
}

.coverImg{
    background: url("https://res.cloudinary.com/dpnjzg0ar/image/upload/v1603303328/TD1uDeJc_xp3ogk.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: none;

}

#coverCard{
    margin-top: -2.8rem;
    padding-top: none;
}

.overlayBackground {
    background-color: #36507A;
}

.resortBackground, .activityPage{
    /* background-size: cover;
    height: 100%;
    width: 100%;
    margin: none;
    background-color: #36507A; */
    margin-top: 40px;
}

.overlayText {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;

}

.overlaySmText {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}