<div class="card">
    <div class="card-image">
        <img src={{url}}>
        <span class="card-title">{{favActivity}}</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
    </div>
    <div class="card-content">
        <p>{{description}}</p>
    </div>
</div>